<h3>Filament Feedback</h3>
<form class="form-horizontal" id="settings_plugin_Zconfig_form">
    <div class="control-group">
        <div class="controls">
        	<label class="control-label">E-step Delay</label>
        	<div class ="controls">
            	<input type="text" class="input-block-level" data-bind="value: settings.plugins.Zconfig.zoffset">
            </div>
          
           <label class="control-label">Enable adaptive feed rate control</label>
           <div class="span1 control-group" title="Enable or disable filament feedback">
                <input type="checkbox" data-bind="checked: enabled">
            </div>
        </div>
    </div>
</form>